@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@theme {
  --font-sentinel: "Sentinel", serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --color-smart-green: #22C55E;
  --color-smart-dark: #050505;
}

@layer base {
  @font-face {
    font-family: 'Sentinel';
    src: url('./assets/fonts/Sentinel-Book-iF6618f54f8ce4b.woff2') format('woff2');
    font-weight: 400; font-style: normal; font-display: swap;
  }
  @font-face {
    font-family: 'Sentinel';
    src: url('./assets/fonts/Sentinel-Medium-iF6618f54f879d1.woff2') format('woff2');
    font-weight: 500; font-style: normal; font-display: swap;
  }

  body {
    @apply font-jakarta antialiased bg-[#050505] text-white m-0 p-0 overflow-x-hidden;
  }

  h1, h2, h3 {
    font-family: var(--font-sentinel) !important;
  }

  html, body {
    margin: 0; padding: 0; scroll-behavior: smooth;
  }
}